<!DOCTYPE html>
<html>
<head>
    <title>PESCI MasterDraw</title>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <h1>Welcome to PESCI MasterDraw</h1>
    <form action='/submit-entry' method='POST'>
        <input type='text' name='name' placeholder='Your Name' required><br>
        <input type='email' name='email' placeholder='Your Email' required><br>
        <textarea name='answer' placeholder='Answer the clinical scenario question here' required></textarea><br>
        <button type='submit'>Submit Entry</button>
    </form>
</body>
</html>