<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
</head>
<body>
  <h1>Thank you for entering the PESCI MasterDraw!</h1>
  <p>Your submission has been received. You’ll be contacted if you win!</p>
  <a href="/">Return to Homepage</a>
</body>
</html>
